body>*{
    margin: 0;
    padding: 0;
    display: inline-block;
}

body{
    background-image: url("./img/fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    color: white;
    display: flex;
    overflow: hidden;
}

#izquierda{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#derecha{
    /*Regula la altura si se queda corta*/
    height: 40%;
    width: 35%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 15px;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#logo>img{
    height: 200px;
    filter: drop-shadow(2px 4px 6px black);
}

#tablero-visual{
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    filter: drop-shadow(4px 4px 10px black);
    font-size: 12rem;
    padding: 20px;
    background: rgba(0, 0, 0, 0.479);
    height: 850px;
    width: 850px;
    border-radius: 15px;
}

.casilla{
    background-size: cover;
    border: solid 3px rgba(255, 255, 255, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
}

.casillaSinRevelar{
    background-image: url("./img/7.webp");
}

.bandera{
    background-color: #f7a6a6; /* Color para las marcadas */
    font-size: 1.2rem;
}

.revelada{
    background-color: #e3e6fa;
    cursor: default;
}