body{
    background-image: url("./img/fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    color: white;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#logo>img{
    height: 150px;
    filter: drop-shadow(2px 4px 6px black);
}

#barraDeDatos{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
    display: hidden;
}

#barraDeDatos>{
    width: 30%;
}

#dificultades{
    display: flex;
    align-items: center;
}

.circulo>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px 8px;
}

.tablero{
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    height: 80vh;
}

.casilla{
    background-size: cover;
}

.casillaSinRevelar{
    background-image: url("./img/7.webp");
    border: solid 3px rgba(255, 255, 255, 0.103);

}