*{
    margin: 0;
    padding: 0;
    display: inline-block;
}

body{
    background-image: url("./img/fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    color: white;
    display: flex;
}

#izquierda{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#logo>img{
    height: 150px;
    filter: drop-shadow(2px 4px 6px black);
}

#tablero-visual{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    height: 80vh;
}

.casilla{
    background-size: cover;
    border: solid 3px rgba(255, 255, 255, 0.103);
}

.casillaSinRevelar{
    background-image: url("./img/7.webp");
}