body{
    background-image: url("./img/fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#logo>img{
    width: 800px;
    filter: drop-shadow(2px 4px 6px black);
}

#barraDeDatos{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
}

#barraDeDatos>{
    width: 30%;
}

#dificultades{
    display: flex;
    align-items: center;
}

.circulo>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px 8px;
}